<app-nav-menu title="{{retrospective.name}} Feedback"></app-nav-menu> 
<p>Date: {{retrospective.date | date:'dd-MM-YYYY'}}</p>
<p>Summary: {{retrospective.summary}}</p>
<p>Participants: {{retrospective.participants}}</p>

<p *ngIf="!retrospective.feedbacks">
	<ngb-alert [dismissible]="true">
		<strong>Warning!</strong> No feedbacks found !!!
	</ngb-alert>
</p>
<h5>New Feedback</h5>
<div class="card">
    <div class="card-body" id="cartBody">
        <form [formGroup]="feedbackForm" (ngSubmit)="addFeedback()">
            <div class="mb-3">
                <label  class="form-label" for="name">Name:</label>
                <input class="form-control"  type="text" formControlName="name" 
                     [ngClass]="{ 'is-invalid': submitted && feedbackForm.controls.name.errors }"/>
                
                     <span class="text-danger" *ngIf="!feedbackForm?.controls?.name?.valid && feedbackForm?.controls?.name?.touched">Name is required</span>
            </div>
            <div class="mb-3">
                <label  class="form-label" for="name">Body: </label>   
                    <input class="form-control" type="text" formControlName="body" 
                     [ngClass]="{ 'is-invalid': submitted && feedbackForm.controls.body.errors }"/>
                
            </div>
            <div class="mb-3">
                <label  class="form-label" for="feedbackType">Type: </label>   
                    <select class="form-control" formControlName="feedbackType"  id="feedbackType" name="feedbackType">
                        <option value="" selected="selected">Select</option>
                        <option value="Positive">Positive</option>
                        <option value="Negative">Negative</option>
                        <option value="Idea">Idea</option>
                        <option value="Praise">Praise</option>
                      </select> 
            </div>
            <div class="mb-3">
            <button class="btn btn-success" type="submit" [disabled]="!feedbackForm.valid">Submit</button>
            <div *ngIf="success" class="alert alert-success" role="alert">Feedback added</div>
            <div *ngIf="failure" class="alert alert-danger" role="alert">{{errorMessage}}</div>
        </div>
        </form>
    </div>
</div>

    
<h4>Retrospective Feedbacks</h4>
<div class="card mt-3"  *ngFor="let feedback of retrospective.feedbacks">
    <div class="card-body" id="cartBody">
        <div class="card-header">{{feedback.name}}</div>
        <p>{{feedback.body}}</p>
        <p>{{feedback.feedbackType}}</p>
    </div>
</div>